{% extends "base.html" %}
{% load static %}

    {% block title %}
      DC Parking/Traffic Tickets Heatmap
    {% endblock title %}

    {% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
    <link rel="stylesheet" href="static/css/dc-tickets.css" />

    {% endblock %}

    {% block content %}
    <div class="content">
      <header><h1 class="h1-header">DC Parking Tickets Heatmap</h1></header>
      <div class="main-content">
        <div id="map"></div>
      </div>
    </div>
<!--      <footer>
        <ul>
          <li><a href="https://github.com/ndanielsen/dc_traffic_data">dc_traffic_data Repository</a></li>


<a href="http://leafletjs.com/">Leaflet.js</a>
<a href="https://github.com/Leaflet/Leaflet.heat">Leaflet.heat</a>

        </ul>
      </footer> -->
      {% endblock content %}


{% block javascript %}
{{ block.super }}
<script src="https://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
<script src="https://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>
<script src="static/js/moving-violations-sampled.js"></script>
<script src="static/js/leaflet.dc-parking-traffic-heatmap.js"></script>

{% endblock javascript %}
