{% extends "base.html" %}
{% load static %}

    {% block title %}
      DC Parking/Traffic Tickets Heatmap
    {% endblock title %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'css/dc-tickets.css' %}" />
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
    {{ block.super }}
    {% endblock %}

    {% block content %}
      <div class="content">
        <header><h1 class="h1-header">DC Parking Tickets Heatmap</h1></header>
        <div class="main-content">
          <div id="map"></div>
        </div>
      </div>
    {% endblock content %}


{% block javascript %}
{{ block.super }}

<script src="{% static 'leaflet/leaflet.js' %}"></script>
<script src="{% static 'leaflet/leaflet-heat.js' %}"></script>
<script src="{% static 'js/moving-violations-sampled.js' %}"></script>
<script src="{% static 'js/leaflet.dc-parking-traffic-heatmap.js' %}"></script>



{% endblock javascript %}
