{% extends "base.html" %}
{% load leaflet_tags %}
{% load static %}

    {% block title %}
      Sandbox
    {% endblock title %}

    {% block css %}
    {{ block.super }}

    {% leaflet_css %}
    <link rel="stylesheet" href="{% static 'css/single_day_leaflet.css' %}" />

    {% leaflet_js %}
    {% endblock %}
c
    {% block content %}
    <div class="content">
      <header><h2>500 Parking Tickets on 2015-05-30</h1></header>
    </div>
      {% leaflet_map "map" %}
      {% endblock content %}



{% block javascript %}
{{ block.super }}
  <script type="text/javascript" src="{% static 'js/api-call.js' %}"></script>

<!--  STATIC Content lives in same app folder -->
{% endblock javascript %}
