{% extends "base.html" %}
{% load static %}

    {% block title %}
      Sandbox
    {% endblock title %}

    {% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
    <link rel="stylesheet" href="static/css/dc-tickets.css" />

    {% endblock %}

    {% block content %}
    <div class="content">
      <header><h2>Sandbox4: Your Stuff Goes Here</h1></header>
      <div class="main-content">
        <div id="map"></div>
      </div>
    </div>

      All front end pieces are located at in the dataviz folder. <br> <br>

      Sandbox html pagers are located at dc_traffic_tickets/dataviz/templates <br>

      CSS and JS assets are located at dc_traffic_tickets/dataviz/static/ <br>

      All templates inherit from a base template which is located: <br>
      dc_traffic_tickets/dc_traffic_tickets/templates/base.html <br>
      <br>





      {% endblock content %}


{% block javascript %}
{{ block.super }}

<!--  STATIC Content lives in same app folder -->
<script src="static/js/moving-violations-sampled.js"></script>
<script src="static/js/leaflet.dc-parking-traffic-heatmap.js"></script>

{% endblock javascript %}
