    <br> <br>
      All front end pieces are located at in the dataviz folder. <br> <br>

      Sandbox html pagers are located in: <em> dc_traffic_tickets/dataviz/templates</em>
      <br><br>

      CSS and JS assets are located in: <em> dc_traffic_tickets/dataviz/static/ </em>
        <br><br>

      For an example api call, go to: <br>
      <em>dc_traffic_tickets/dataviz/static/js/example-api-call.js</em>
      <br><br>

      All templates inherit from a base template which is located: <br>
      <em>dc_traffic_tickets/dc_traffic_tickets/templates/base.html </em>
      <br><br>
