{% extends "base.html" %}
{% load leaflet_tags %}
{% load static %}

    {% block title %}
      Sandbox
    {% endblock title %}

    {% block css %}
    {{ block.super }}

    {% leaflet_css %}
    <link rel="stylesheet" href="{% static 'css/single_day_leaflet.css' %}" />

    {% leaflet_js %}
    <script type="text/javascript" src="{% static 'js/api-call.js' %}"></script>
    {% endblock %}
c
    {% block content %}
    <div class="content">
      <header><h2>Parking Tickets on 2013-12-20</h1></header>
    </div>
      {% leaflet_map "map" callback="window.map_init_basic" %}
      {% endblock content %}



{% block javascript %}
{{ block.super }}

<!--  STATIC Content lives in same app folder -->
{% endblock javascript %}
