<h5>Static Data Assets</h5>
<br>
<em>Geojson Data Points Files:</em>
<br>'dataviz/static/data/fire-hydrants.geojson'
<br>'dataviz/static/data/parking-enforcement-last-30-days.geojson'
<br>'dataviz/static/data/parking-meter-last-30-days.geojson'
<br>'dataviz/static/data/parking-violations-in-december-2015.geojson'
<br>'dataviz/static/data/parking-violations-in-february-2016.geojson'
<br>'dataviz/static/data/parking-violations-in-january-2016.geojson'
<br>'dataviz/static/data/parking-violations-in-march-2016.geojson'
<br>'dataviz/static/data/parking-violations-in-may-2016.geojson'
<br><br>
<em>Geojson Shape Files:</em>

<br>'dataviz/static/data/census-blocks-2010.geojson'
<br>'dataviz/static/data/dc-boundary.geojson'
<br>'dataviz/static/data/dc-quadrants.geojson'
<br>'dataviz/static/data/district-boundary-as-defined-by-boundary-stones.geojson'
<br>'dataviz/static/data/dpw-parking-beats.geojson'
<br>'dataviz/static/data/neighborhood-clusters.geojson'
<br>'dataviz/static/data/neighborhood-names-centroid.geojson'
<br>'dataviz/static/data/ward-2012.geojson'
<br>'dataviz/static/data/zip-codes.geojson'
<br> <br>
